.panel-box-one {
  border: 0;
  .shadown-md();

  &:hover {
    .shadown-lg();
  }

  overflow: hidden;
  border-radius: @border-radius-sm;

  .panelbody-p-0 {
    padding: 0 !important;
  }

  .dest-image {
    height: 100%;
  }

  .row {
    display: table;
  }

  [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    @media (max-width: @screen-sm) {
      float: left;
    }
  }


}

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  // colunas
  .flex-col {
    display: flex;
    flex-direction: column;
    @media (max-width: @screen-md) {
      display: block;
      width: 100%;
    }
  }
}

.panel-theme {
  min-height: @force-grid-base;
  flex: 1;
  position: relative;
  display: flex; // (Funciona dependente da classe .flex dentro da row)
  flex-direction: column; // (Funciona dependente da classe .flex dentro da row)
  border: 0;
  .shadown-md();

  .detail-bar {
    width: 100%;
    padding: 0.5em 1em;
    border-bottom: 1px solid @light-gray;
    border-top: 1px solid @light-gray;
  }

  .panel-heading {
    border: 0;
    position: relative;
    min-height: 5em;
    padding: 1em 1em;

    .panel-title {
      //min-height: @line-height-computed*5;
      //max-height: @line-height-computed*8;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    .panel-badge {
      position: absolute;
      top: -.5em;
      right: -.5em;
      white-space: nowrap;
      overflow: hidden;
      max-width: 70%;
      text-overflow: ellipsis;
      //background-color: rgba(255,255,255,0.3);
      background-color: @white;
      color: @text-color;
      padding: 0.5em;
      border-radius: .3em .3em .3em 0;
      font-size: @fontsize-sm;
      .shadown-sm();
    }
  }

  .panel-body {
    .panel-content {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }

  .panel-footer {
    margin-top: auto;
    background-color: transparent;
    border: 0;
    padding-bottom: 1.25em;
  }

  &.panel-primary {
    border: 0;

    > .panel-heading {
      background-color: @teal;
    }
  }
}

.alert-dismissable .close, .alert-dismissible .close {
  right: 0;
  opacity: 1;
}