.panel-box-one {
  font-size: 80%;
  .shadown-sm();
  border-radius: 0;
  .panel-heading {
    padding: 1em 1em;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .panel-footer {
    padding: 1em 1em;
    border-top: 1px solid transparent;
    border-radius: 0;
  }
  .panel-offsetcontent {
    margin: 0 -15px 1em -15px;
  }
}

.panel-group{
  .panel{
    border: none;
    //border-bottom: 1px solid @gray;
    box-shadow: none;
    border-radius: 0;
  }
  .panel-title{
    font-family: @sec-fontfamily;
  }
}