.custom-tabs {
  .nav-tabs {
    border-bottom: 2px solid #ddd;
    > li {
      font-size: @fontsize-sm;
      > a {
        text-transform: uppercase;
        font-size: @fontsize-sm;
        font-weight: 700;
      }
    }
    > li.active > a {
      color: #555;
      cursor: default;
      background-color: transparent;
      border:0;
      border-bottom: 3px solid @black-teal;
    }
  }
  .tab-content {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-top: 0;
  }
}