//
// Variáveis do CSS do site
// --------------------------------------------------
//

// Cores da identidade

//links
@link-color-blue: #1383C4;
@link-color-dark-blue: #005689;
@link-hover-color-blue: #80ccfa;

// Cores genéricas
@light-blue: #00AEC1;
@red: #CC2029;
@green: #2DB84B;
@light-green: #50B748;
@light-green-two: #229D59;
@aqua: #C5D0DE;
@yellow: #f39c12;
@blue: #0086C2;
@navy: #001F3F;
@teal: #59C9A5;
@black-teal: #70A9A1;
@olive: #3D9970;
@lime: #01FF70;
@orange: #F0712C;
@fuchsia: #913E7E;
@purple: #643CC6;
@maroon: #85144B;
@black: #222;
@gray: #5A5A5A;
@light-gray: #f5f5f5;
@light-gray-base: #F2F2F2;
@white: #fff;

//Cores
@blue-darken-one: darken(@blue-one, 50%);
@blue-light-one: #2F94DE;
@blue-light-two: #3B5775;
@text-color: #5C5D5D;

@blue-one: #0068ae;
@blue-two: #08456e;
@green-one: #0C5E3D;
@orange-one: #f69f3f;

//@orange-one:;
// Caminhos para imagens
@image-path-theme: "../../img";

// Typography: Fontes etc
@font-size-base: 100%;
@line-height-base: 1.15;

@fontsize-xs: 0.64em;
@fontsize-sm: 0.8em;
@fontsize-md: 1em;
@fontsize-mdplus: 1.25em;
@fontsize-lg: 1.563em;
@fontsize-xl: 1.953em;
@fontsize-xxl: 2.441em;

@border-radius-sm: 0.25em;
@border-radius-md: 0.5em;

// fontes especiais
@font-path: "../../../assets/fonts";
@first-fontfamily: "merriweather", "Times New Roman", Georgia, serif;
//@sec-fontfamily: "sourcesans", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
@sec-fontfamily: "lato", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
@third-fontfamily: "bosk", "comic sans", Helvetica, Arial, sans-serif;

// Headings
@headings-font-family: @first-fontfamily;
@headings-font-weight: normal;
@headings-line-height: 1.1;
@headings-color: inherit;

// Start commenting here to use your own vars
@navbar-default-bg: #f8f8f8;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);
@navbar-inverse-bg: #222;
@navbar-inverse-border: darken(@navbar-inverse-bg, 10%);

@grid-float-breakpoint-max: 767px;
// Stop commenting here to use your own vars

@sidebar-width: 250px;
@sidebar-transition-duration: 500ms;
@sidebar-transition-easing: ease;
@sidebar-transition: @sidebar-transition-duration @sidebar-transition-easing;

// ícones
// Font glyphicons (altereda por conta da estrutura de pastas)
//@glyphicons-font-path: "glyphicons";

// Font ionicons
//@ionicons-font-path: "ionicons";

.gradiente() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.7+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.7))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* IE10 preview */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#b3000000', GradientType=0); /* IE6-8 */
}





@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              @white;
@btn-primary-bg:                 @blue;
@btn-primary-border:             0;

@btn-success-color:              @white;
@btn-success-bg:                 @green;
@btn-success-border:             0;

@btn-info-color:                 @white;
@btn-info-bg:                    @light-blue;
@btn-info-border:                0;

@btn-warning-color:              @white;
@btn-warning-bg:                 @orange;
@btn-warning-border:             0;

@btn-danger-color:               #fff;
@btn-danger-bg:                  @red;
@btn-danger-border:              0;

@btn-link-disabled-color:        @light-gray;



// Bootstrap select

@color-red-error: rgb(185, 74, 72);
@color-grey-arrow: rgba(204, 204, 204, 0.2);

@width-default: 220px; // 3 960px-grid columns

@zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//** Placeholder text color
@input-color-placeholder: #999;